.clear {clear: both;}
.clearLeft {clear: left;}

body {background-color: #f0f0f0; color: #595959; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; text-align: center; font-size: 12px;}

a {color: #595959;}
a:link {color: #595959;}
a:visited {color: #595959;}
a:hover {color: #0095da; text-decoration: underline;}
a:active {color: #0095da;}

h4 a {color: #015CAE;}
h4 a:link {color: #015CAE;}
h4 a:visited {color: #015CAE;}
h4 a:hover {color: #015CAE; text-decoration: underline;}
h4 a:active {color: #015CAE;}

/* main wrapper begins */
#container {position:relative; width:970px; text-align: left; margin: 13px auto 0 auto;}
/* main wrapper ends */

/* global navigation begins */
#globalNav {font-size: 11px; width: 620px; float: left; margin-left: 15px; display: inline; padding-bottom: 1px;}
#globalNav li {float: left; background: url(/common-images/globalNavDivider.png) right top no-repeat; padding-right: 12px; margin-right: 10px;}
#globalNav #lastGlobalNav {background: none;}
#globalNav a {color: #595959; text-decoration: none;}
#globalNav a:link {color: #595959; text-decoration: none;}
#globalNav a:visited {color: #595959;}
#globalNav a:hover {color: #0095da; text-decoration: underline;}
#globalNav a:active {color: #0095da; text-decoration: underline;}
#globalNav #smallBusGlobal {background: none;}

#es #globalNav .esGlobal a {color: #0095da;}
#es #globalNav .esGlobal a:link {color: #0095da;}
#ae #globalNav .aeGlobal a {color: #0095da;}
#ae #globalNav .aeGlobal a:link {color: #0095da;}

#globalNav .active a:visited {color: #0095da;}
#globalNav .active a:hover {color: #0095da;}
#globalNav .active a:active {color: #0095da;}

#globalSites {width: 95px; float: right; font-size: 11px; margin-right: 15px; text-align: right; display: inline;}
#globalSites a {background: url(/common-images/flagUS.png) left top no-repeat; padding-left: 27px; text-decoration: none; color: #595959;}
#globalSites a:link {color: #595959;}
#globalSites a:visited {color: #595959;}
#globalSites a:hover {color: #0095da; text-decoration: underline;}
#globalSites a:active {color: #595959;}

div#countrynav {display:inline; float:right; margin:0; padding:0; width:300px;}
div#countrynav ul {color:#595959; float:right; font-size:11px; margin:0 5px 0 0; padding:0; display: inline;}
div#countrynav ul li {display:block; float:left; line-height:12px; margin-right:3px; padding-left:3px; padding-right:9px;}
div#countrynav ul li.country {font-weight:bold; padding-right:5px;}
div#countrynav ul li.country1 {border-right:1px solid #595959; font-weight: bold;}/*lang not specified*/
div#countrynav ul li.lang {background:transparent url(../common-images/globalNavDivider.png) no-repeat scroll right top; border-right:none;}
div#countrynav ul li.langlast {border-right:1px solid #595959;}
div#countrynav ul li.global {margin-left:5px; padding-left:0;}
div#countrynav ul li a {color:#595959; text-decoration: none;}
div#countrynav ul li a:link {color:#595959;}
div#countrynav ul li a:visited {color:#595959;}
div#countrynav ul li a:hover {color:#0095da; text-decoration: underline;}
div#countrynav ul li a:active {color:#595959;}
div#countrynav ul li.global img {float:left; margin-top:-5px; padding:0 4px 0 2px; border:none;}
/* global navigation ends  */

/* navbar begins */
#navGrp {background: url(/common-images/navbarGradient.jpg) left top repeat-x; height: 32px; line-height: 32px; width: 940px; margin-left: 15px; position: relative;}
#navGrp #navGrpTitle {font-size: 18px; color: #fff; padding: 0 0 0 20px; width: 265px; float: left; font-weight: normal;}
#nav {float: right; font-size: 13px;}
#navGrp #navGrpTitle a {color: #fff; text-decoration: none;}
#navGrp #navGrpTitle a:hover {text-decoration: underline;}
#navGrp #nav .noBorder {background: none;}

#nav li {float: left; display: inline;}
#nav li a {color: #fefefe; text-decoration: none; display: block; padding: 0 15px; font-weight: bold;}

#nav li:hover, #nav li.over {background: url(/common-images/navActiveRight.gif) right top no-repeat;}
#nav li:hover a, #nav li.over a {background: url(/common-images/navActiveLeft.gif) left top no-repeat; color: #595959;}
#nav li:hover .subnav li a, #nav li.over .subnav li a {background: none;}

#subnavGrp {background: url(/common-images/navbar2Gradient.jpg) left top repeat-x; height: 28px; line-height: 27px; 
border-bottom: 1px solid #d1d1d1; width: 940px; margin-left: 15px;}
#nav .subnav {color: #595959; display: none; position: absolute; right: 15px; top: 32px; width: 940px; text-align: right; line-height: 28px;}
#nav .subnav li {float: none; display: inline; background: url(/common-images/subnavDivider.gif) right center no-repeat; margin-right: 0px;}
#nav .subnav li a {color: #595959; text-decoration: none; padding: 0; margin: 0 10px; display: inline; font-weight: normal;}
/*#nav .subnav li:hover, .subnav li.over {background: url(../newImages/subnavDivider.gif) right center no-repeat;}*/
#nav .subnav li a:hover {color: #0095da;}
#navGrp #nav .subnav #lastnavbar2 {background: none;}
/* navbar ends */

/* header begins */
#homeContent {background: url(/common-images/sideDropShadow.png) left top repeat-y; clear: both; float: left;}
#header {height: 93px; width: 970px; background: url(/common-images/topDropShadow.png) left top no-repeat; padding-top: 13px;}
#header #experian {margin: 20px 0 0 32px; width: 164px; float: left;}
#header #siteSearch {float: right; height: 20px; margin: 20px 35px 0 0; line-height: 20px; display: inline;}
#header #field_search {height: 17px; border: 1px solid #bbb; vertical-align: middle;}
#header #btn_search {margin-left: 5px; vertical-align: middle;}
#header #siteSignIn {line-height:20px; margin:0 15px 0 0; padding-top:20px; text-align:right; clear: right;}
#header #siteSignIn li {background:transparent url(/common-images/subnavDivider.gif) no-repeat scroll right center;
display:inline; margin-right:10px; padding-right:10px;}
#header #siteSignIn .noBG {background: none;}
#header #memberLogIn {line-height:20px; margin:0 15px 0 0; padding-top:20px; text-align:right; clear: right; font-size: 12px; display:inline; float:right;}
#header #memberLogIn li {background:transparent url(/common-images/subnavDivider.gif) no-repeat scroll right center;
display:inline; margin-right:10px; padding-right:10px;}
#header #memberLogIn .noBG {background: none;}
#header #memberLogIn li a {color: #595959; text-decoration: none;}
#header #memberLogIn li a:link {color: #595959; text-decoration: none;}
#header #memberLogIn li a:visited {color: #595959; text-decoration: none;}
#header #memberLogIn li a:hover {color: #0095da; text-decoration: underline;}
#header #memberLogIn li a:active {color: #595959; text-decoration: none;}
/* header ends */

/* buttons */
#bannerButton {background: url(/common-images/bannerButtonBlue.gif) left top no-repeat; width: 202px; height: 26px; line-height: 26px; margin: 15px 0 0 40px;}
#bannerButton a {display: block; color: #fff; text-decoration: none; text-align: center; font-weight: bold; font-size: 14px;}
#bannerButton a:link {color: #fff;}
#bannerButton a:visited {color: #fff;}
#bannerButton a:hover {color: #fff;}
#bannerButton a:active {color: #fff;}

.blueButton {background: url(/common-images/button_right_blue_small_290x21.gif) right top no-repeat; float: left; line-height: 21px; margin-bottom: 10px; margin-top: 0;}
.blueButton a {background: url(/common-images/button_left_blue_small_10x21.gif) left top no-repeat; color: #fff; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.blueButton a:link {color: #fff;}
.blueButton a:visited {color: #fff;}
.blueButton a:hover {color: #fff;}
.blueButton a:active {color: #fff;}

.blueButtonRt {background: url(/common-images/button_right_blue_small_290x21.gif) right top no-repeat; float: right; line-height: 21px; margin: 10px 0 0 0;}
.blueButtonRt a {background: url(/common-images/button_left_blue_small_10x21.gif) left top no-repeat; color: #fff; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.blueButtonRt a:link {color: #fff;}
.blueButtonRt a:visited {color: #fff;}
.blueButtonRt a:hover {color: #fff;}
.blueButtonRt a:active {color: #fff;}

.bannerButtonBlue202 {background:transparent url(../images/sb-images/bannerButtonBlue.gif) no-repeat scroll left top; float: none; height:26px; line-height:26px;
width:202px; margin-bottom: 20px;}

.bannerButtonYellow225 {background:transparent url(/common-images/button_yellow_marquee_fixed_225x29.gif) left top no-repeat; float: none; height:29px; line-height:29px; width:225px; margin-bottom: 20px;}
.bannerButtonYellow225 a {display: block; color: #015CAE; text-decoration: none; font-weight: bold; font-size: 14px; margin-left: 10px;}
.bannerButtonYellow225 a:link {color: #015CAE;}
.bannerButtonYellow225 a:visited {color: #015CAE;}
.bannerButtonYellow225 a:hover {color: #015CAE; text-decoration: underline;}
.bannerButtonYellow225 a:active {color: #015CAE;}

.bannerButtonYellow266 {background:transparent url(/common-images/button_yellow_marquee_fixed_266x29.gif) left top no-repeat; float: none; height:29px; line-height:29px; width:266px; margin-bottom: 20px;}
.bannerButtonYellow266 a {display: block; color: #015CAE; text-decoration: none; font-weight: bold; font-size: 14px; margin-left: 10px;}
.bannerButtonYellow266 a:link {color: #015CAE;}
.bannerButtonYellow266 a:visited {color: #015CAE;}
.bannerButtonYellow266 a:hover {color: #015CAE; text-decoration: underline;}
.bannerButtonYellow266 a:active {color: #015CAE;}

.bannerButtonYellow305 {background:transparent url(/common-images/button_yellow_marquee_fixed_305x29.gif) left top no-repeat; float: none; height:29px; line-height:29px; width:305px; margin-bottom: 20px;}
.bannerButtonYellow305 a {display: block; color: #015CAE; text-decoration: none; font-weight: bold; font-size: 14px; margin-left: 10px;}
.bannerButtonYellow305 a:link {color: #015CAE;}
.bannerButtonYellow305 a:visited {color: #015CAE;}
.bannerButtonYellow305 a:hover {color: #015CAE; text-decoration: underline;}
.bannerButtonYellow305 a:active {color: #015CAE;}

.bannerButtonBlue225 {background:transparent url(/common-images/button_blue_marquee_fixed_225x29.gif) left top no-repeat; float: none; height:29px; line-height:29px; width:225px; margin: 10px 0 0 40px;}
.bannerButtonBlue225 a {display: block; color: #fff; text-decoration: none; font-weight: bold; font-size: 14px; margin-left: 10px;}
.bannerButtonBlue225 a:link {color: #fff;}
.bannerButtonBlue225 a:visited {color: #fff;}
.bannerButtonBlue225 a:hover {color: #fff; text-decoration: underline;}
.bannerButtonBlue225 a:active {color: #fff;}

.bannerButtonBlue266 {background:transparent url(/common-images/button_blue_marquee_fixed_266x29.gif) left top no-repeat; float: none; height:29px; line-height:29px; width:266px; margin: 10px 0 0 40px;}
.bannerButtonBlue266 a {display: block; color: #fff; text-decoration: none; font-weight: bold; font-size: 14px; margin-left: 10px;}
.bannerButtonBlue266 a:link {color: #fff;}
.bannerButtonBlue266 a:visited {color: #fff;}
.bannerButtonBlue266 a:hover {color: #fff; text-decoration: underline;}
.bannerButtonBlue266 a:active {color: #fff;}

.bannerButtonBlue305 {background:transparent url(/common-images/button_blue_marquee_fixed_305x29.gif) left top no-repeat; float: none; height:29px; line-height:29px; width:305px; margin: 10px 0 0 40px;}
.bannerButtonBlue305 a {display: block; color: #fff; text-decoration: none; font-weight: bold; font-size: 14px; margin-left: 10px;}
.bannerButtonBlue305 a:link {color: #fff;}
.bannerButtonBlue305 a:visited {color: #fff;}
.bannerButtonBlue305 a:hover {color: #fff; text-decoration: underline;}
.bannerButtonBlue305 a:active {color: #fff;}

#homeMainContent .twoColBlocks .blueButton {margin-top: 0; margin-bottom: 0;}
#homeMainContent .threeColBlocks .blueButton {margin-top: 0; margin-bottom: 0;}

#newsCol280 .blueButton {margin-left: 15px; display: inline; margin-top: 10px;}
#newsCol225 .blueButton {margin: 0 0 0 15px; display: inline;}
#spotlight226 .blueButton {margin: 0 0 0 15px; display: inline;}
#subNav200 .blueButton {margin-left: 15px; display: inline;}
.showContent .blueButton {position: relative; left: -10px; top: 2px;}

.adButton {margin:10px 0 0 15px; background: url(/common-images/button_right_blue_small_290x21.gif) right bottom no-repeat; line-height: 21px; float: left; display: inline;}
.adButton a {background: url(/common-images/button_left_blue_small_10x21.gif) left bottom no-repeat; line-height: 21px; display: block; color: #fff; padding: 0 10px;}
.adButton a:link {color: #fff;}
.adButton a:visited {color: #fff;}
.adButton a:hover {text-decoration: underline;}
.adButton a:active {color: #fff;}


/* buttons end */

#homeSandbox {margin: 20px 0px 20px 0px; float: left; background: url(/common-images/sandboxBottomBG.jpg) left bottom no-repeat; width: 900px; 
color: #6d6d6d; display: inline; text-align: left;}
#homeSandboxContainer {margin: 10px; font-size: 11px; float: left; height: 169px; width: 880px; display: inline;}
#homeSandbox h4 {background: url(/common-images/sandboxTopBG.png) left top no-repeat; padding: 10px;}
.sandboxCol {float: left; padding: 10px 0 15px 0; display: inline; width: 225px;}
.sandboxCol .sandboxColTitle {font-weight: bold;}
.sandboxCol li {list-style-type: none; line-height: 1.5em; list-style-position: outside; margin: 0 10px;}
.sandboxCol li a {font-size: 11px; text-decoration: none; background: url(/common-images/bullet_car.gif) left center no-repeat; padding-left: 10px;}
.sandboxCol li a:link {color: #6d6d6d;}
.sandboxCol li a:visited {color: #6d6d6d;}
.sandboxCol li a:hover {color: #0095da; text-decoration: underline;}
.sandboxCol li a:active {color: #6d6d6d;}

/* markers */
#container #homeMainContent .firstMarkerNoLink {margin:0 0 8px; background: url(/common-images/bullet_blue_8x8.gif) left 5px no-repeat; padding-left: 15px; line-height: 1.5em;}
#container #homeMainContent .firstMarker {margin:0 0 8px; background: url(/common-images/marker_red_8x8.gif) left 5px no-repeat; padding-left: 15px; line-height: 1.5em;}

#container #homeMainContent .firstMarker a {color: #0095da;}
#container #homeMainContent .firstMarker a:link {color: #0095da;}
#container #homeMainContent .firstMarker a:visited {color: #0095da;}
#container #homeMainContent .firstMarker a:hover {color: #0095da; text-decoration: underline;}
#container #homeMainContent .firstMarker a:active {color: #0095da;}

#container #homeMainContent .firstMarker .showContentLinks .blueButton a {color: #fff;}
#container #homeMainContent .firstMarker .showContentLinks .blueButton a:link {color: #fff;}
#container #homeMainContent .firstMarker .showContentLinks .blueButton a:visited {color: #fff;}
#container #homeMainContent .firstMarker .showContentLinks .blueButton a:hover {color: #fff;}
#container #homeMainContent .firstMarker .showContentLinks .blueButton a:active {color: #fff;}
/* markers end */

/* banners begin */
#banner940x225 h1 {font-size: 28px; padding: 40px 0 5px 40px; font-weight: bold;}
#banner940x225 h2 {font-size: 16px; padding: 0 450px 0 40px; font-weight: bold; text-transform: uppercase; line-height: 1.5em;}

#banner940x144 h1 {font-size: 24px; padding: 30px 0 5px 40px; font-weight: bold;}
#banner940x144 h2 {font-size: 16px; padding: 0 500px 0 40px; font-weight: bold; text-transform: uppercase; line-height: 1.5em;}
/* banners end */

/* main content */
#homeMainContent {margin: 20px 0 0 35px; float: left; width: 900px; display: inline;}
#homeMainContent a {text-decoration: none;}
#homeMainContent a:link {text-decoration: none;}
#homeMainContent a:visited {}
#homeMainContent a:hover {text-decoration: underline;}
#homeMainContent a:active {}
#homeMainContent a.obviousLink {color: #0095da;}

#homeMainContent h3 {font-size: 18px; color: #be8851; padding: 0 0 10px 0; border-bottom: 1px solid #d1d1d1; font-weight: normal; margin-bottom: 10px;}
#homeMainContent #homeMainContentSummary {padding-bottom: 10px;}
#homeMainContent #homeMainContentSummary p {padding: 0 0 10px 0; line-height: 1.5em; color:#595959;}

#homeMainContent #homeContentBlocks {float: left; width: 900px; padding-bottom: 20px;}

#homeMainContent .oneColBlock h4 {clear: left; color: #015cae; font-size: 13px; padding: 0 0 5px 0;}
#homeMainContent .oneColBlock p {line-height: 1.5em; padding: 0 0 10px 0;}
#homeMainContent .oneColBlock ul {margin: 0 0 5px 0;}
#homeMainContent .oneColBlock li {margin:0; padding:0 0 8px 10px; line-height: 1.5em; background:transparent url(/common-images/bullet_textinfo.gif) no-repeat scroll left 9px;}

/*#homeMainContent .clearTwoColBlocks {width: 900px; clear: left; float: left;}*/
#homeMainContent .twoColBlocks {width: 450px; float: left; line-height: 1.5em; margin: 0 0 20px 0;}
#homeMainContent .twoColBlocks h4 {color: #015cae; font-size: 13px; padding-bottom: 5px;}
#homeMainContent .twoColBlocks p {font-size: 12px; line-height: 1.5em; margin-right: 50px; color: #595959; padding: 0 0 10px;}

/*#homeMainContent .clearThreeColBlocks {width: 900px; clear: left; float: left;}*/
#homeMainContent .threeColBlocks {width: 280px; float: left; line-height: 1.5em; margin: 0 20px 20px 0;}
#homeMainContent .threeColBlocks h4 {color: #015cae; font-size: 13px; padding: 0 0 5px 0;}
#homeMainContent .threeColBlocks p {line-height: 1.5em; padding: 0 0 10px 0;}
#homeMainContent .threeColBlocks .simpleList {margin: 0 0 10px;}
#homeMainContent .threeColBlocks .simpleList li {padding: 0 0 8px 10px; margin: 0; background: url(/common-images/bullet_textinfo.gif) left 9px no-repeat; line-height: 1.5em;}

#container #homeMainContent .noMarker {background: none; padding-left: 0; margin: 0;}
#homeMainContentColRt ul .noMarker {background: none; padding-left: 0;}

#homeMainContentSummary2 {clear: both; padding: 20px 0 10px 0;}
#homeMainContentSummary2 p {padding: 0 0 10px 0; line-height: 1.25em;}
#container #homeMainContent .listTitle {list-style-type: none; padding-left: 0; background: none;}


#homeMainContent .noBG {margin-bottom: 10px;}
#homeMainContent .noBG li {background: none; padding-left: 0; padding-bottom: 5px; line-height: 1em;}

#homeMainContent .addressBlock {width: 160px; float: left; margin: 0 50px 35px 0;}
#container #homeMainContent .addressBlock li {line-height: 1.25em;}

#homeMainContentColRt iframe {margin-bottom: 20px;}
#homeMainContentColRt {display:inline; float:right; margin:0 0 20px; width:680px;}
#homeMainContentColRt h4 {color:#015CAE; font-size:13px; padding-bottom:5px; margin-top: 10px;}
#homeMainContentColRt h5 {padding-bottom: 5px; padding-top: 5px;}
#homeMainContentColRt h5 a {color: #595959;}
#homeMainContentColRt h5 a:link {color: #595959;}
#homeMainContentColRt h5 a:visited {color: #595959;}
#homeMainContentColRt h5 a:hover {color: #0095da; text-decoration: underline;}
#homeMainContentColRt h5 a:active {color: #0095da;}
#homeMainContentColRt ul {margin: 0 0 10px 0;}
#homeMainContentColRt ul li {padding: 0 0 8px 10px; margin: 0; background: url(/common-images/bullet_textinfo.gif) left 9px no-repeat; line-height: 1.5em;}
#homeMainContentColRt .simpleList {margin: 0 0 10px;}
#homeMainContentColRt .simpleList li {padding: 0 0 8px 10px; margin: 0; background: url(/common-images/bullet_textinfo.gif) left 9px no-repeat; line-height: 1.5em;}
#homeMainContentColRt .simpleList ul {margin: 5px 0 0 0;}
#homeMainContentColRt .simpleList ul li {padding: 0 0 8px 10px; margin: 0 0 0 10px; background: url(/common-images/bullet_textinfo.gif) left 9px no-repeat; line-height: 1.5em;}
#homeMainContentColRt ol {margin: 10px 15px 0 0;}
#homeMainContentColRt ol li {list-style-type: decimal; list-style-position: outside; padding: 0 0 8px 0; margin: 0 0 0 23px; background: none; line-height: 1.5em;}
#homeMainContentColRt p {line-height:1.5em; padding-bottom: 10px;}
.divider {border-bottom: 1px solid #d1d1d1; width: 100%; height: 1px; margin: 9px 0 20px 0;}
#homeMainContent .boldDisclaimer {line-height: 1em; font-weight: bold;}

/* content box 449 width */
#homeMainContentColRt .contntBox449 {background: url(/common-images/ps_product_top.gif) left top no-repeat; width: 400px; margin-bottom: 20px;}
#homeMainContentColRt .contntBox449Bot {background: url(/common-images/ps_product_bottom.gif) left bottom no-repeat; width: 400px; height: 12px; clear: left; margin-bottom: 0;}
#homeMainContentColRt .contntBox449 h4 {color:#015CAE; font-size:13px; line-height:1.25em; padding:15px 15px 5px;}
#homeMainContentColRt .contntBox449 h5 {line-height:1.25em; padding-left: 15px;}
#homeMainContentColRt .contntBox449 p {line-height:1.25em; margin:0 15px;}
#homeMainContentColRt .contntBox449 .blueButton {margin-left: 15px;}

/* main content ends */

.popularLinks {position:absolute;top:85px;right:0px;border:1px solid #d1d1d1;background:#fff;z-index:10000;display:none;width:203px;}
.popularBulletLinks li {display:none;width:100%;background:none !important;}
.popularBulletLinks li a {text-decoration:none;padding:4px 8px;display:block;color:#0095da;font-size:11px !important;}
.popularBulletLinks li a:hover {background:#0095da;color:#fff;text-decoration:none !important;}

/* subnavs begin */
#newsCol280 {width: 287px; float: right; margin: 20px 0 10px 13px; background: url(/common-images/highlightbox_top.gif) left top no-repeat;}
#newsCol280 h4 {color:#015CAE; font-size:13px; margin: 13px 15px 5px 15px; line-height: 1.25em;}
#newsCol280 h5 {font-weight:bold; margin: 5px 15px 5px 15px; line-height: 1.25em;}
#newsCol280 p {line-height: 1.25em; margin: 0 15px; font-size: 11px;}
#newsCol280 ul {margin: 10px 15px; float: left; display: inline;}
#homeMainContent #newsCol280 li {background: url(/common-images/marker_red_8x8.gif) left 3px no-repeat; margin: 0 0 5px 0; padding-left: 15px; line-height: 1.25em;}
#newsCol280Bottom {width: 287px; height: 9px; background: url(/common-images/highlightbox_bottom.gif) left bottom no-repeat; clear: both;}

#newsCol225 {width: 226px; margin: 0 0 10px 30px; float: right; display: inline; background: url(/common-images/rightside_top.gif) left top no-repeat;}
#newsCol225 h4 {clear: left; color:#015CAE; font-size:13px; padding: 7px 15px 5px 15px; line-height: 1.25em;}
#newsCol225 p {line-height: 1.25em; margin: 0 15px; font-size: 11px;}
#homeMainContentColRt #newsCol225 ul {margin: 0 15px 10px 15px; float: left; display: inline;}
#newsCol225 .newsIncludeStyle {margin-top: 0px;}
#homeMainContent #newsCol225 li {background: url(/common-images/marker_red_8x8.gif) left 3px no-repeat; margin-bottom: 5px; padding-left: 15px; line-height: 1.25em; font-size: 11px; padding-bottom: 5px;}
#newsCol225Bottom {width: 226px; height: 21px; background: url(/common-images/rightside_btm.gif) left top no-repeat; clear: both;}
#homeMainContent #newsCol225h4 {padding-top: 0;}

#subNav200 {background: url(/common-images/leftside_top.gif) left top no-repeat; margin: 0; width: 199px; float: left; display: inline;}
#subNav200 h4 {color:#015CAE; font-size:13px; margin: 13px 15px 5px 15px;}
#subNav200 p {line-height: 1.25em; margin: 0 15px;}
#subNav200 ul {margin: 15px 15px 0; width: 169px; float: left; display: inline;}
#subNav200 li {background: url(/common-images/marker_red_8x8.gif) left 3px no-repeat; margin: 0 0 5px 0; line-height: 1.25em; float: left; clear: left; width: 169px;}
#subNav200 a {margin-left: 15px; display: block;}
#subNav200 li a:link {text-decoration: none; color: #595959;}
#subNav200 li a:visited {text-decoration: none; color: #595959;}
#subNav200 li a:hover {text-decoration: none; color: #0095da; text-decoration: underline;}
#subNav200 li a:active {text-decoration: none; color: #0095da;}
#subNav200Bottom {width: 199px; height: 17px; background: url(/common-images/leftside_btm.gif) left top no-repeat; clear: left;}

#subNav200 li ul {display: none;}
#subNav200 li a:hover ul {display: block;} 

#subNav200 ul ul {margin: 5px 0 0;}
#subNav200 ul ul li {background: url(/common-images/bullet_car.gif) left 4px no-repeat; line-height: 1.25em; margin-left: 5px; display: inline;}
#subNav200 ul ul li a {margin-left: 10px;}

#spotlight226 {width: 226px; margin: 0 0 10px 30px; float: right; display: inline; background: url(/common-images/spotlight226mid.gif) left top repeat-y;}
#spotlight226Top {width: 226px; height: 21px; background: url(/common-images/spotlight226top.gif) left top no-repeat;}
#spotlight226Bottom {width: 226px; height: 21px; background: url(/common-images/spotlight226bot.gif) left top no-repeat; clear: both;}
#spotlight226 h4 {clear: left; color:#015CAE; font-size:13px; padding: 0 15px 5px 15px; line-height: 1.25em; margin-top: 0;}
#spotlight226 h5 {padding-left:15px;}
#spotlight226 hr {margin: 0 15px 10px;}
#spotlight226 p {line-height: 1.25em; margin: 0 15px; font-size: 11px;}
#homeMainContentColRt #spotlight226 ul {margin: 0 15px 10px 15px; float: left; display: inline;}
#spotlight226 .newsIncludeStyle {margin-top: 0px;}
#homeMainContent #spotlight226 li {background: url(/common-images/marker_red_8x8.gif) left 3px no-repeat; margin-bottom: 5px; padding-left: 15px; line-height: 1.25em; font-size: 11px; padding-bottom: 5px;}

/* subnavs end */

/* ads */
#ad225 {width: 225px; margin: 0 0 10px 30px; float: right; display: inline; background: url(/common-images/rightside_top.gif) left top no-repeat;}
#ad225 h4 {clear: left; color:#015CAE; font-size:13px; padding: 5px 15px 5px 15px; line-height: 1.25em;}
#ad225 h5 {padding: 5px 15px; color: #BE8851;}
#ad225 p {line-height: 1.25em; margin: 0 15px; font-size: 11px;}
#ad225Bottom {width: 225px; height: 15px; background: url(/common-images/rightside_btm.gif) left top no-repeat; clear: both;}
#homeMainContentColRt #ad225 .sbSimpleList {margin-left: 15px; margin-bottom: 0; clear: left;}
#ad225 .blueButton {margin: 10px 0 0 15px; display: inline;}

#ad280 {width: 280px; margin: 0 0 10px 30px; float: right; display: inline; background: url(/common-images/overview_rightspot_top.jpg) left top no-repeat;}
#ad280 h4 {clear: left; color:#015CAE; font-size:13px; padding: 5px 15px 5px 15px; line-height: 1.25em;}
#ad280 h5 {padding: 0 0 0 15px; color: #BE8851;}
#ad280 p {line-height: 1.25em; margin: 0 15px; font-size: 11px;}
#ad280Bottom {width: 280px; height: 15px; background: url(/common-images/overview_rightspot_btm.jpg) left top no-repeat; clear: both;}
#homeMainContentColRt #ad280 .sbSimpleList {margin-left: 15px; clear: left;}
#ad280 .blueButton {margin: 10px 0 0 15px; display: inline;}
/* ads end */

/* content images */
.rtFloatImage {float: right; margin: 10px 0 10px 20px;}

/* content footer begins */
#contentFooterShadow {background: url(/common-images/bottomDropShadow.png) left top no-repeat; float: left; height: 55px; width: 970px;}
#contentFooter {background: url(/common-images/contentFooterGradient.jpg) left bottom repeat-x; height: 39px; float: left; line-height: 38px; margin: 0 0 0 15px; width: 940px; display: inline; border-top: 1px solid #d1d1d1;}
#contentFooter li {float: left; background: url(/common-images/contentFooterDivider.jpg) right top no-repeat; padding-right: 12px; margin-right: 10px; font-size: 11px;}
#contentFooter .noBG {background: none; margin-right: 0;}

#contentFooterLinks {width: 575px; float: left; margin-left: 20px; display: inline;}
#contentFooterLinks a {color: #595959; text-decoration: none;}
#contentFooterLinks a:link {color: #595959;}
#contentFooterLinks a:visited {color: #595959;}
#contentFooterLinks a:hover {color: #0095da; text-decoration: underline;}
#contentFooterLinks a:active {color: #595959; text-decoration: underline;}

#contentFooterCopyRight {width: 325px; float: right; text-align: right; margin-right: 20px; display: inline;}
#contentFooterCopyRight li {background: none; float: right; padding: 0; margin: 0;}
/* content footer ends */

/* show content at hover begins */
.showContent {clear: left; display: none; width: 665px; background: url(/common-images/window_top.gif) left top no-repeat; margin: 10px 0; position: relative; left: -15px; top: 0; padding: 15px 0 0 0;}

.showContent p {padding: 0 15px;}
#homeMainContent .showContent ul {margin: 0 15px;}
.showContentBottom {clear: both; background: url(/common-images/window_btm.gif) left top no-repeat; width: 665px; height: 17px;}
.activateContent:hover .showContent {display: block;}
.dynamicLearnMore {color: #0095da; cursor: pointer;}
.dynamicLearnMore:hover {text-decoration: underline;}
.showContentLinks {width: 200px; float: left; margin-left: 25px; display: inline;}
.dynamicClose {width: 14px; float: right; margin-right: 15px; margin-top: 18px; display: inline; cursor: pointer;}
/* show content at hover ends */

/* footer begins */
#footer {clear: both; padding: 0 20px 20px 15px; margin: 0;}
#footerTerms {color: #6d6d6d; float: left; width: 940px;}
#footerTerms li {float: left; font-size: 11px; background: url(/common-images/globalNavDivider.png) right top no-repeat; padding-right: 12px; margin-right: 10px;}
#footerTerms li a {color: #595959; text-decoration: none;}
#footerTerms li a:link {color: #595959;}
#footerTerms li a:visited {color: #595959;}
#footerTerms li a:hover {color: #0095da; text-decoration: underline;}
#footerTerms li a:active {color: #595959; text-decoration: underline;}
#footerTerms .noBG {background: none;}

#footer p {color:#8D8D8D; font-size:10px; line-height:1.25em; padding:10px 0 0; text-align:left; clear: left;}
#footer .footerTripAdvDisc {color: #595959;}

/*#footerDisclaimer {text-align: left; color: #8d8d8d; font-size: 10px; clear: left; float: left; padding: 10px 0 20px 0; line-height: 1.25em;}
#footerFinePrint {clear: both; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; padding-top: 10px; color: #8d8d8d;}*/
/* footer ends */